################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SassSnippetVsixExtension/.vs/SassSnippetVsixExtension/v15/Server/sqlite3
