a {
    color: percentage($number);
}


@mixin media-mixin( $max-min, $breakpoint ) {
    @media (#{$max-min}-width: #{$breakpoint}) {
        @content;
    }
}

div {
    // Code for mobile layout
    @include media-mixin( $max-width, $even-breakpoint ) {
        display: inline-block;
    }
}



@mixin media-mixin( $max-min, $breakpoint ) {
    @media (#{$max-min}-width: #{$breakpoint}) {
        @content;
    }
}

div {
    // Code for mobile layout
    @include media-mixin( max, 768px ) {
        display: inline-block;
    }
}
        