@import url("https://fonts.googleapis.com/css?family=Bungee|Montserrat");
header {
  min-height: 450px;
  background-image: url("https://raw.githubusercontent.com/ClydeDz/sass-snippet-pack/master/SassSnippetVsixExtension/Resources/sass-vsix-ext-bg.png");
  background-repeat: repeat;
  background-size: contain; }
  header div div.website-logo {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 122px; }
    @media (max-width: 468px) {
      header div div.website-logo {
        padding-top: 95px; } }
  header h1 {
    color: white;
    font-weight: 700;
    font-family: "Bungee", cursive;
    font-size: 50px;
    text-transform: uppercase; }

nav {
  margin: 32px 9px; }
  @media (max-width: 468px) {
    nav {
      font-size: 15px; } }
  nav a {
    text-transform: uppercase; }
    nav a, nav a:active, nav a:visited {
      color: #c69;
      text-decoration: none; }
    nav a:hover, nav a:focus {
      text-decoration: underline;
      color: #993366; }

main section {
  margin: 18px 0; }

main h2 {
  font-family: "Bungee", cursive;
  color: #c69;
  font-size: 40px; }

main .prod-grab {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto; }

footer {
  border-bottom: 20px #c69 solid; }
  footer img {
    border: 2px #c69 solid;
    padding: 0 4px;
    margin: 9px 0; }

body {
  font-size: 20px; }

